<h1>今月の記録</h1>
<div class = "calender">
  <%= month_calendar posts: @posts do |date,posts| %>
    <%= date.day %>
      <% posts.each do|post| %>
        <div class = "post">
          <div class = "post.kind">
            <%= post.kind_id.name %>
          </div>
          <div class = "post.memo">
            <%= post.memo %>
          </div>
        </div>
      <% end %>
  <% end %>
</div>

<%= link_to "投稿ページに戻る", new_post_path, class:"post" %>