<h1>今月の記録</h1>
  <%= month_calendar events: @posts do |date,posts| %>
    <%= date.day %>
      <% posts.each do|post| %>
        <div>
          <%= link_to post_path(post.id) do %>
            <%= post.kind.name %>
          <% end %>
        </div>
      <% end %>
  <% end %>

<%= link_to "投稿ページに戻る", new_post_path, class:"post" %>