<div class = "current-status">
    <%= form_with model: @post, local: true do |f| %>
      <div class = "content">
        <div class = "content-text">日付</div>
          <%= f.date_field :start_time, class:"date" %>
        <div class = "content-text">種類</div>
          <%= f.collection_select(:kind_id, Kind.all, :id, :name, {}, {class:"kind-select"}) %>
        <div class = "content-text">メモ</div>
          <%= f.text_area :memo, class:"memo", placeholder:"メモ" ,maxlength:"200" %>
        <%= f.submit "投稿する" ,class:"btn" %>
      </div>
    <% end %>
</div>

<%= link_to "一覧ページに戻る", posts_path, class:"post" %>