<div class="post__wrapper">

  <div class="post__body">
    <div class="post__detail">
      <div class="post__title">時刻</div>
      <div class="post__memo">
        <%= l @post.start_time %>
      </div>
    </div>

    <div class="post__detail">
      <div class="post__title">種類</div>
      <div class="post__memo">
        <%= @post.kind.name %>
      </div>
    </div>

    <div class="post__detail">
      <div class="post__title">メモ</div>
      <div class="post__memo">
        <%= @post.memo %>
      </div>
    </div>
  </div>
</div>

<div class="post__manage">
    <%= link_to "一覧ページに戻る", posts_path, class: :post__btn %>
  <% if user_signed_in? && current_user.id == @post.user_id %>
    <%= link_to "記録を編集する", edit_post_path(@post.id), class: :post__btn %>
    <%= link_to '記録を削除する', post_path(@post.id), method: :delete, class: :post__btn %>
  <% end %>
</div>