<h1>詳細トップページ</h1>
  <div>
      <%= @post.start_time.to_s(:datetime_jp) %>
      <%= @post.kind.name %>
      <%= @post.memo %>
  </div>

<ul class="more_list">
  <li>
    <%= link_to "一覧ページに戻る", posts_path, class:"post" %>
  </li>
  <% if user_signed_in? && current_user.id == @post.user_id %>
  <li>
    <%= link_to "記録を編集する", edit_post_path(@post.id), class:"post" %>
  </li>
  <li>
    <%= link_to '記録を削除する', post_path(@post.id), method: :delete %>
  </li>
  <% end %>
</ul>